<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello</title>
    <!-- BootStrap core CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--Jquery-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>
<div id="wrap" class="container">
    <div class="row">
        <header>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-9">
                        <img src="./images/mainImage.JPG" width="50%"/>
                    </div>
                    <div class="col-xs-3">
                        <ul class="nav navbar-nav">
                            <li><a href="./choiceFood.html">홈</a></li>
                            <li><a href="./insertFood.html">음식 추가</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </header>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">가입하기</h3>
                    </div>
                    <div class="panel-body">
                        <div id="foodArea">

                            <!-- 2. Create a matching tab pane for each tab. Content goes within these panes -->
                            <div class="tab-content">
                                <div ng-app="" ng-controller="joinController">
                                    <br>
                                    <div class="tab-pane">
                                        <form>
                                            이메일 : <input type="text" id="email" class="form-control" ng-model="formData.emailValue" placeholder="Enter your Email"/>
                                            <select class="form-control" id="emailDomain">
                                                <option value="@nhn.com">@nhn.com</option>
                                            </select>
                                            <p id="wrongid" style="display: none">아이디를 입력하세요.</p>
                                            <input type="submit" value="인증코드 보내기" class="btn btn-primary" ng-click="getCode()"/>
                                            <input type="button" value="리셋" class="btn btn-warning" ng-click="resetData()"/><br>
                                            <div id="codeArea" style="display: none">
                                                인증코드 : <input type="text" id = "codeValue" class="form-control" ng-model="formData.code" placeholder="Enter Valid Code"/>
                                                <input type="submit" value="인증 확인" class="btn btn-primary" ng-click="codeConfirm()"/><br>
                                                <p id="wrongcode" style="display: none">인증코드가 틀렸습니다.</p>
                                            </div>
                                        </form>
                                    <div id="joinForm" style="display: none">
                                        <br>
                                        <div class="tab-pane">
                                            <form id="imageForm" method="post" enctype="multipart/form-data" action="http://localhost:3001/upload">
                                                이름 : <input type="text" id="name" class="form-control" ng-model="formData.name" placeholder="Enter your name">
                                                <p id="noName" style="display: none">이름을 입력해주세요.</p>
                                                한줄소개 : <input type="text" class="form-control" ng-model="formData.comments" placeholder="Enter Comment"/>
                                                사진 : <br>
                                                <img id="_thumb" src="" width="40%">
                                                <input type="hidden" id="srcvalue"/>
    <input type="file" name="thumbnail" accept="image/*" onchange="fileChanged(this)"><br>
                                                <input type="submit" value="가입완료" class="btn btn-primary" ng-click="join()"/><br>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function joinController($scope,$http) {
        var ajaxHost = "http://localhost:3001/";

       $scope.resetData = function() {
           $('#email').removeAttr("DISABLED");
           $('#email').attr("value","");
       };

        $scope.getCode = function() {
            if(document.getElementById('email').value==""){
                $('#wrongid').css("display","block");
                return ;
            }
            $scope.formData.email = $scope.formData.emailValue + $("#emailDomain option:selected").text();
            $http.post(ajaxHost + 'access', $scope.formData)
                    .success(function(data){
                        $scope.accessinfo_id = data.id;
                        $('#wrongid').css("display","none");
                    })
                    .error(function(data) {
                        console.log($scope.formData);
                        console.log('Error: ' + data);
                    });
                    $('#codeArea').css("display","block");
                    $('#email').attr("DISABLED","true");
        };
        $scope.codeConfirm = function() {
            if(document.getElementById('codeValue').value==""){
                $('#wrongcode').css("display","block");
                return ;
            }
            $http.put(ajaxHost + 'access/'+ $scope.accessinfo_id, $scope.formData)
                    .success(function(data){
                        // 인증 성공하면?
                        if (data.flag) {
                            $('#codeArea').css("display","block");
                            $('#codeArea').css("display", "none");
                            $('#joinForm').css("display", "block");
                            $('#wrongcode').css("display", "none");
                        } else{
                            $('#wrongcode').css("display", "block");
                        }
                    })
                    .error(function(data) {
                        console.log($scope.joinData);
                        console.log('Error: ' + data);
                    });
        };
        $scope.join = function() {
            $scope.formData.thumbnail = document.getElementById('srcvalue').value;
            console.log($scope.formData.thumbnail);
            if(document.getElementById('name').value==""){
                $('#noName').css("display","block");
                return ;
            }
            $http.post(ajaxHost + 'access/' + $scope.accessinfo_id, $scope.formData)
                    .success(function(data){
                        $scope.userid = data;
                        localStorage.setItem('key',data.key);
                        localStorage.setItem('email',data.user.email);
                        localStorage.setItem("_id",data.user._id);
                        //location.href = "./index.html";
                    })
                    .error(function(data) {
                        console.log($scope.formData);
                        console.log('Error: ' + data);
                    });
        };
    }
    function fileChanged(fileInput) {
        var targetFile = fileInput.files[0];
        console.log(targetFile);
        if(targetFile.type.search('gif') > -1) {
            alert('no gif');
            fileInput.value='';
            return;
        }
        thumbnailUpload(fileInput.files[0], function(params){
            $("#_thumb").attr('src', params.thumbnail);
            $('#srcvalue').attr('value',params.thumbnail);
        });
    }
    function thumbnailUpload(thumbnail, callback) {
        var ajaxHost = 'http://localhost:3001';
        var formData = new FormData();
        formData.append('thumbnail', thumbnail);

        $.ajax({
            url: ajaxHost + '/upload/thumb',
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data){
                console.log(data);
                callback(data);
            }
        });
    }
</script>
<!-- Placed at the end of the document so the pages load faster -->

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
</body>
</html>